<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>2015</key>
		<array>
			<string>至今</string>
			<string>2015</string>
		</array>
	</dict>
	<dict>
		<key>2014</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
		</array>
	</dict>
	<dict>
		<key>2013</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
		</array>
	</dict>
	<dict>
		<key>2012</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
		</array>
	</dict>
	<dict>
		<key>2011</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
		</array>
	</dict>
	<dict>
		<key>2010</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
		</array>
	</dict>
	<dict>
		<key>2009</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
		</array>
	</dict>
	<dict>
		<key>2008</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
		</array>
	</dict>
	<dict>
		<key>2007</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
		</array>
	</dict>
	<dict>
		<key>2006</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
			<string>2006</string>
		</array>
	</dict>
	<dict>
		<key>2005</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
			<string>2006</string>
			<string>2005</string>
		</array>
	</dict>
	<dict>
		<key>2004</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
			<string>2006</string>
			<string>2005</string>
			<string>2004</string>
		</array>
	</dict>
	<dict>
		<key>2003</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
			<string>2006</string>
			<string>2005</string>
			<string>2004</string>
			<string>2003</string>
		</array>
	</dict>
	<dict>
		<key>2002</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
			<string>2006</string>
			<string>2005</string>
			<string>2004</string>
			<string>2003</string>
			<string>2002</string>
		</array>
	</dict>
	<dict>
		<key>2001</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
			<string>2006</string>
			<string>2005</string>
			<string>2004</string>
			<string>2003</string>
			<string>2002</string>
			<string>2001</string>
		</array>
	</dict>
	<dict>
		<key>2000</key>
		<array>
			<string>至今</string>
			<string>2015</string>
			<string>2014</string>
			<string>2013</string>
			<string>2012</string>
			<string>2011</string>
			<string>2010</string>
			<string>2009</string>
			<string>2008</string>
			<string>2007</string>
			<string>2006</string>
			<string>2005</string>
			<string>2004</string>
			<string>2003</string>
			<string>2002</string>
			<string>2001</string>
			<string>2000</string>
		</array>
	</dict>
</array>
</plist>
